$textColor: #fefffb;
$btnColor: #ee1a25;


.font {
    color: $textColor;
    font-size: 3.3em;
    font-weight: inherit;
}

.counterdown-container {
    text-align: center;

    h1 {
        color: $textColor;
        font-size: 1.6em;
        font-weight: inherit;
    }

    .counterdown {
        margin-bottom: 25px;


        .number-badge {
            @extend .font;
            background-color: rgba(201, 188, 188, 0.137);
            color: $textColor;
            padding: 4px 8px;
            text-align: center;
            border-radius: 30px;
        }

        .seperator {
            @extend .font;
            font-size: 4em;
            padding-left: 10px;
            padding-right: 10px;
        }

    }

    button {
        background-color: $btnColor;
        font-family: inherit;
        border: none;
        color: $textColor;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        margin: 4px 2px;
        border-radius: 8px;
        width: 272px;
        cursor: pointer;
        transition: 250ms;
        font-weight: inherit;

        &:hover {
            background-color: #850c12;
            color: $textColor;
        }
    }
}